/* ----- General ----- */

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}


/* ----- Sidebars ----- */

.sidebar > h3 {
	color: #005c8a;
	text-align: center;
}


/* ----- Assets ----- */

#assets {
	width: 10%;
	height: 100%;
	float: left;
	overflow-y: hidden;
	box-sizing: border-box;
}


/* ----- Canvas ----- */

#canvas_area {
	width: 70%;
	height: 100%;
	float: left;
	background-color: #aaaaaa;
	box-sizing: border-box;
	padding-top: 1%;
}

#canvas {
	width: 90%;
	margin: 0 5%;
}


/* ----- Properties ----- */

#properties {
	width: 20%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}
