/* ----- General ----- */

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}


/* ----- File Sidebar ----- */

#sidebar {
	width: 10%;
	background-color: #ffffff;
	float: left;
	height: 100%;
}

#sidebar > div {
	width: 100%;
	padding: 5% 0 5% 5%;
	color: #005c8a;
	box-sizing: border-box;
	font-size: small;
	cursor: pointer;
	vertical-align: middle;
}

#sidebar > .selected_file {
	background-color: #005c8a;
	color: #ffffff;
}

/* ----- Top Bar ----- */

#topbar {
	width: 90%;
	height: 5%;
	float: left;
}


/* ----- Toolbar ----- */

#toolbar {
	width: 50%;
	height: 100%;
	background-color: #005c8a;
	box-sizing: border-box;
	float: left;
}

.tool_button {
	border: none;
	background-color: #ffffff;
	color: #005c8a;
	height: 80%;
	width: 7%;
	margin: 0.3em 0.3% 0;
	padding: 0;
	cursor: pointer;
}

.tool_button:active {
	background-color: #bbbbbb;
}

#italics_insert {
	font-style: italic;
}

#bold_insert {
	font-weight: bold;
}


/* ----- Style Bar ----- */

#stylebar {
	width: 50%;
	height: 100%;
	background-color: #ffffff;
	display: inline-block;
}


/* ----- Editor Windows ----- */

.editor_window {
	width: 45%;
	height: 95%;
	float: left;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#editor_input {
	resize: none;
	border: none;
	height: 100%;
	width: 100%;
	padding: 3%;
	display: block;
	box-sizing: border-box;
	background-color: #005c8a;
	outline: none;
	font-size: medium;
	font-family: Menlo, Consolas, monospace;
	color: #ffffff;
}

#preview {
	overflow-y: auto;
	padding: 2% 4%;
	color: #222222;
}

#preview > h1, h2, h3, h4, h5, h6 {
	color: #222222;
}
