/* ----- General ----- */

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}


/* ----- Editor Windows ----- */

.editor_window {
	width: 50%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#editor_input {
	resize: none;
	border: none;
	height: 100%;
	width: 100%;
	padding: 3%;
	display: block;
	box-sizing: border-box;
	background-color: #005c8a;
	outline: none;
	font-size: medium;
	font-family: Menlo, Consolas, monospace;
	color: #ffffff;
}

#preview {
	padding: 2% 4%;
	color: #222222;
}
