/* ----- General ----- */

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}


/* ----- File Sidebar ----- */

#sidebar {
	width: 10%;
	background-color: #ffffff;
	float: left;
	height: 100%;
}

#sidebar > div {
	width: 100%;
	padding: 5% 0 5% 5%;
	color: #005c8a;
	box-sizing: border-box;
	font-size: small;
	cursor: pointer;
	vertical-align: middle;
}

#sidebar > .selected_file {
	background-color: #005c8a;
	color: #ffffff;
}

#sidebar > header {
	width: 100%;
	height: 5%;
	box-sizing: border-box;
	padding: 5% 0 0 5%;
	text-decoration: underline;
	font-size: large;
	color: #005c8a;
}


/* ----- Top Bar ----- */

#topbar {
	width: 90%;
	height: 5%;
	float: left;
}


/* ----- Toolbar ----- */

#toolbar {
	width: 50%;
	height: 100%;
	background-color: #005c8a;
	box-sizing: border-box;
	float: left;
}

#toolbar > div {
	float: left;
	width: 9.09%;
	height: 100%;
	box-sizing: border-box;
}

.tool_button {
	border: none;
	background-color: #ffffff;
	color: #005c8a;
	height: 80%;
	width: 80%;
	margin: 7% 10%;
	padding: 0;
	cursor: pointer;
}

.tool_button:active {
	background-color: #bbbbbb;
}

#italics_insert {
	font-style: italic;
}

#bold_insert {
	font-weight: bold;
}


/* ----- Style Bar ----- */

#stylebar {
	width: 50%;
	height: 100%;
	background-color: #ffffff;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 0.5%;
}

#stylebar > input {
	position: absolute;
	visibility: hidden;
}

.select_label {
	margin: 0 1% 0 2%;
}

.colour_label {
	border-bottom: 0.2em solid #bb3333;
	margin: 0 1%%;
	box-sizing: border-box;
	padding: 0 1%;
	cursor: pointer;
}

.colour_label:hover {
	background-color: #dddddd;
}


/* ----- Editor Windows ----- */

.editor_window {
	width: 45%;
	height: 95%;
	float: left;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#editor_input {
	resize: none;
	border: none;
	height: 100%;
	width: 100%;
	padding: 3%;
	display: block;
	box-sizing: border-box;
	background-color: #005c8a;
	outline: none;
	font-size: medium;
	font-family: Menlo, Consolas, monospace;
	color: #ffffff;
}

#preview {
	overflow-y: auto;
	padding: 2% 4%;
	color: #222222;
	background-color: #ffffff;
}

#preview > h1, h2, h3, h4, h5, h6 {
	color: #222222;
}
