/* Stylesheet for the preview section of the editor window, 'editor.html'.
The classes are applied to elements according to the styles that the user
selects.
*/

/* ----- Font Sizes ----- */

.smallest_font > p, .smallest_font > ul, .smallest_font > pre {
	font-size: x-small;
}

.small_font > p, .small_font > ul, .small_font > pre {
	font-size: small;
}

.medium_font > p, .medium_font > ul, .medium_font > pre {
	font-size: medium;
}

.large_font > p, .large_font > ul, .large_font > pre {
	font-size: large;
}

.largest_font > p, .largest_font > ul, .largest_font > pre {
	font-size: x-large;
}

/* ----- Font Families ----- */

.serif_font {
	font-family: Times, "Times New Roman", Georgia, serif;
}

.sans_serif_font {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}

.serif_headings > h1, .serif_headings > h2, .serif_headings > h3,
.serif_headings > h4, .serif_headings > h5, .serif_headings > h6 {
	font-family: Times, "Times New Roman", Georgia, serif !important;
}

.sans_serif_headings > h1, .sans_serif_headings > h2, .sans_serif_headings > h3,
.sans_serif_headings > h4, .sans_serif_headings > h5, .sans_serif_headings > h6 {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif !important;
}
