/* Stylesheet for the startup window, 'startup.html'. */

/* ----- General ----- */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}


/* ----- Buttons ----- */

#options {
	height: 100%;
	width: 60%;
	margin: 0 auto;
	padding-top: 15%;
	box-sizing: border-box;
}

.button_wrapper {
	width: 49%;
	display: inline-block;
}

button {
	border: none;
	background-color: #005c8a;
	color: #ffffff;
	font-size: x-large;
	height: 80%;
	width: 80%;
	margin: 0 10%;
	padding: 20% 10%;
}

button:hover {
	background-color: #116d9b;
	cursor: pointer;
}

button:active {
	background-color: #004b79;
}


/* ----- File IO ----- */

.project_select {
	display: none;
}
